<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Frontend.Helpers.LanguageInfoHelper" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Frontend.Helpers.LanguageInfoHelper>
            <setting name="php" serializeAs="String">
                <value>PHP</value>
            </setting>
            <setting name="aspx" serializeAs="String">
                <value>ASP.NET</value>
            </setting>
            <setting name="perl" serializeAs="String">
                <value>Perl</value>
            </setting>
            <setting name="python" serializeAs="String">
                <value>Python</value>
            </setting>
            <setting name="empty" serializeAs="String">
                <value>Nothing</value>
            </setting>
        </Frontend.Helpers.LanguageInfoHelper>
    </userSettings>
</configuration>
