<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Mod" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Core.Modules" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Mod" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Core.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Core.Mod>
            <setting name="templateExtension" serializeAs="String">
                <value>tpl</value>
            </setting>
        </Core.Mod>
        <Core.Modules>
            <setting name="modulesDir" serializeAs="String">
                <value>modules</value>
            </setting>
            <setting name="templateExtension" serializeAs="String">
                <value>tpl</value>
            </setting>
        </Core.Modules>
    </userSettings>
    <applicationSettings>
        <Core.Mod>
            <setting name="modulesDir" serializeAs="String">
                <value>modules</value>
            </setting>
        </Core.Mod>
        <Core.App>
            <setting name="projectExtension" serializeAs="String">
                <value>mproject</value>
            </setting>
        </Core.App>
    </applicationSettings>
</configuration>